<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br" >
<head>
<title>Registro de Ponto | Controle de Ponto</title>
<link rel="stylesheet" type="text/css" href="/media2/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/media2/admin/css/login.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media2/admin/css/ie.css" /><![endif]-->
    <script type="text/javascript" src="/media2/js/jquery.js"></script>
    <script type="text/javascript" src="../../../jsi18n/"></script>
    <script type="text/javascript" src="/media2/admin/js/core.js"></script>
    <script type="text/javascript" src="/media2/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/media2/admin/js/getElementsBySelector.js"></script>
    <script type="text/javascript" src="/media2/admin/js/actions.js"></script>
    <script type="text/javascript" src="/media2/js/fingerprint.js"></script>
    <script type="text/javascript" src="/media2/admin/js/admin/DateTimeShortcuts.js"></script> 
 
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
 
 
<body class="login">
 
<!-- Container -->
<div id="container">
    
    <!-- Header -->
    <div id="header">
        <div id="branding">        
<h1 id="site-name">Controle de Ponto</h1>
        </div>
<div id="user-tools">  
	<a href="/sair/">Sair</a>
</div>        
 
    </div>
    <!-- END Header -->
    
    
 
        
 
    <!-- Content -->
    <div id="content" class="colM">
        
        
        
 
<div id="content-main">
<ul>
{% for i in minhas_urls %}
<li>
  <div align="center">
  	<a href="{{ i.link }}">{{ i.nome }}</a><br />
  </div>
</li>
{% endfor %}
</ul>
  </div>
 
</div>
 
        
        <div align="center"><br class="clear" />
        </div>
</div>
    <div align="center">
      <!-- END Content -->
   
  </div>
    <div id="footer"></div>
</div>
<!-- END Container -->
 


</form>
</body>
</html>
